# Node
node_modules/
dist/
.angular/

# Spring Boot
target/
*.jar
*.war
.mvn/
!mvnw
!mvnw.cmd
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar

# IDEs and OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Environment / Secrets
.env
.env.local
.env.production
*.pem
*.key

# Logs
*.log
logs/

# Package lock (optional - uncomment if you want to commit it)
# package-lock.json

# OS files
desktop.ini
ehthumbs.db

# Senstive Files
aiven-details.md
